*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #0e0500; */
}


.border{
    align-items: center;
    border: 2px solid white;
    width: 250px;
    border-radius: 4px;
}
.main-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: 100%;
    background-color: white;
}
.main-div p{
    color:#2c2521;
    margin: 0;
    background: transparent;
    font-weight: 600;
}
.fa-solid{
    color: black;
    background: transparent;
}

.list-div{
    margin: 10px 0;
}

input[type=checkbox] {
    accent-color: #947421;
}

.list-style{
    margin: 0 20px;
    display: flex;
    align-items: "center";
}
.inp{
   margin-bottom: 0;
   padding: 0 10px;
   color: white;
}
.inp-text{
   margin-bottom: 0;
   padding: 0 20px;
}

.lion{
    margin: 10px 0;
    border-bottom: 2px solid white;    
}

@media (max-width: 425px){
    .list-style{
        margin: 0 8px;
        font-size: 12px;
    }
.container-div1{
width: 100vw;
}
.container-div2{
width: 100vw;
padding: 10px;
}
.border{
    width: 100%;
}
}
@media (max-width: 320px){
    .list-style{
        margin: 0 8px;
        font-size: 10px;
    }
}

