/* .register3{
    float: right;
    margin-top: 15px
}

.formdiv1{
    color: white;
}

.register1{
    color: rgb(160, 125, 36);
}

.e-address1{
    border: 1px solid white;
    border-radius: 25px;
    height: 50px;

}

.e-address1 input{
    border-radius: 25px;
    min-height: auto;
    height: 100%;
    border: none;
    padding: 12px 2.75rem;
    background: transparent !important;
    transition: all .2s linear !important;
}
.e-address1 input,::placeholder{
    color: rgb(193, 187, 187) !important;
}

.remember-bodr1{
    border-radius: 1.25em !important;
}

.forgot-clr1{
    color: white !important;
    text-decoration: none;
}

.remember-clr1{
    color: rgb(160, 125, 36);
}

.login-clr1{
    color: black;
    background-color: white;
    border-radius: 0px 3px 8px 3px black;
}

.login-clr1:hover{
    color: white;
    background-color:rgb(160, 125, 36);
    
} */


.body123{
    background:linear-gradient(to left, rgb(49, 97, 128), rgb(52, 52, 52));
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
  }
  
  .container12{
    display:flex;
      align-items:center;
      justify-content:center;
      height:100vh;
      width:100%;
      margin-top: 0px;
      margin-bottom: 0px;
  }
    .form-box{
        width:380px;
        height:450px;
        background-color:rgba(223, 216, 216, 0.077);
        padding:20px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        /* opacity:0.5; */
        border-radius:2%;
    }
  .header-form{
    margin-bottom:15px;
  }
  button{
    margin-top:40px;
    margin-bottom:10px;
  }
  .message{
    display:flex;
    justify-content:space-between
  }
  .social{
    display:flex;
    justify-content:center;
  }
  .fa{
    color: gray;
    font-size: 25px;
  }
  .social i{
    font-size:35px;
  }
  
  .social i:hover{
    color:rgb(156, 155, 155);
    cursor:pointer;
  }
  .forget:hover{
    color:rgb(156, 155, 155);
    cursor:pointer;
  }
  